
<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title">Web Settings</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<p class="lead"><i class="bi bi-octagon-half"></i> Light / Dark</p>
		<div class="form-check form-switch" >
			<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked style="outline: 2px solid rgb(15, 83, 231);">
			<label class="form-check-label" for="flexSwitchCheckChecked">Light</label>
		  </div>

		<!-- <div class="text-end">
			<button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Close</button>
		</div> -->
	</div>
</ng-template>

  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 navbar navbar-expand-md fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="'.'">ZyloMileTech</a>

		<!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

		<!-- Step 2: Add the ngbCollapse directive to the element below. -->
		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			
			<ul class="navbar-nav nav-pills d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
				<li class="nav-item active">
					<!-- Step 4: Close the menu when a link is clicked. -->
					<a class="nav-link" href="#home" routerLink="" (click)="isMenuCollapsed = true">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/researches" (click)="isMenuCollapsed = true">Researches</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/researches"  (click)="isMenuCollapsed = true">Projects Ideas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink=""  (click)="isMenuCollapsed = true">Our Blog</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" routerLink="/contact-us"  (click)="isMenuCollapsed = true">Contact Us</a>
				</li>
			</ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <button type="button" routerLink="/login" class="btn btn-primary me-2">Sign In</button>
                </li>
                <li class="nav-item">
                  <button type="button" routerLink="/login" class="btn btn-outline-primary me-2">Sign Up</button>
                </li>
                <li class="nav-item">
                  <button  class="btn btn-lg btn-outline-primary mb-2 me-2" (click)="openEnd(content)"><i class="bi bi-gear-fill"></i></button>
                </li>
              </ul>

		</div>
	</div>
</nav>


