<!-- <p>login works!</p> -->
<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-5">
     
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('unsplash-photo-1.jpg');">
                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h3 class="pt-5 mt-5 mb-4 display-8 lh-1 fw-bold">Create Your Account Today</h3>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <!-- <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white"> -->
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <!-- <small>Earth</small> -->
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                        <!-- <small>3d</small> -->
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <br>



        </div>
        <div class="col-sm-7">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Sign In</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Sign Up</button>
                            </li>
                          </ul>
                          <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                                <div class="container " >
                                    <div class="row">
                                        <div class="col-sm-6 shadow-lg" style="padding: 12px;border-radius: 12px;">
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                <label for="floatingInput">Username</label>
                                              </div>
                                              <div class="form-floating mb-3">
                                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                                <label for="floatingPassword">Password</label>
                                              </div>

                                              <div class="form-check mb-3">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                <label class="form-check-label" for="flexCheckDefault">
                                                  Remember Me
                                                </label>
                                              </div>

                                              <div class="form-floating mb-3">
                                                <div class="d-grid gap-2">
                                                    <button class="btn btn-primary" type="button">Login</button>
                                                </div>
                                              </div>

                                              <div class="form-floating mb-3">
                                                <div class="d-grid gap-2">
                                                   <p class=""><a href=""> I don't have account ?</a> </p>
                                                </div>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 shadow-lg" style="padding: 12px;border-radius: 12px;">
                                            

                                            <form class="row g-3">
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                        <label for="floatingInput">Firstname</label>
                                                      </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                        <label for="floatingInput">Lastname</label>
                                                      </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                        <label for="floatingInput">Username</label>
                                                      </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3">
                                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                        <label for="floatingInput">Email</label>
                                                      </div>
                                                </div>
                                                <div class="col-md-3 ">
                                                  <!-- <label for="validationDefault04" class="form-label">Gender</label> -->
                                                  <select class="form-select form-control" id="validationDefault04" style="height: 57px;" required>
                                                    <option selected disabled value="">Choose Gender</option>
                                                    <option>Male</option>
                                                    <option>Female</option>
                                                  </select>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-floating mb-3">
                                                        <input type="phone" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                        <label for="floatingInput">Phone</label>
                                                      </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                        <label for="floatingInput">Password</label>
                                                      </div>
                                                  </div>
                                                  <div class="col-md-4">
                                                    <div class="form-floating mb-3">
                                                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                                        <label for="floatingInput">Re-type Password</label>
                                                      </div>
                                                  </div>


                                                <div class="col-12">
                                                  <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                                                    <label class="form-check-label" for="invalidCheck2">
                                                      Agree to terms and conditions
                                                    </label>
                                                  </div>
                                                </div>
                                                <div class="col-12">
                                                  <button class="btn btn-primary" type="submit">Submit form</button>
                                                </div>
                                              </form>


                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
</div>
<br>