

<div class="col-md-12">

    <div class="card card-cover h-50 overflow-hidden text-bg-dark rounded-1 shadow-lg" style="background-image: linear-gradient(to right, rgb(39, 38, 38), rgb(8, 80, 161));">
      <div class="d-flex flex-column h-50 p-3 pb-3 text-white text-shadow-1">
        <p class="pt-3 mt-3 mb-3 display-6 lh-1 fw-bold" style="font-size: 25px;">Navigate Projects</p>
        <ul class="d-flex list-unstyled mt-auto">
          <!-- <li class="me-auto">
            <img src="https://cdn.wallpapersafari.com/5/32/ZibLEv.jpg" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
          </li> -->
          <li class="d-flex align-items-center me-3">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
            <small style="border: 1px solid rgb(255, 255, 255);padding: 4px;border-bottom-right-radius: 12px;">Home / Projects /</small> 
          </li> 
          <!-- <li class="d-flex align-items-center">
            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
            <small>Home / Researches /</small> 
          </li> -->
        </ul>
      </div>
    </div><br>
    <div class="container">
      <app-researches-data></app-researches-data>
    </div>
    

</div>


