
<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
  
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  
    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
  
    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }
  
    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }
  
    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }
  
    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  </style>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <app-carousel-comp></app-carousel-comp>
      </div>
      <div class="col-md-8">
  
  
  
        <div class="container my-2">
          <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
            <div class="col-lg-8 p-3 p-lg-5 pt-lg-3">
              <h1 class="display-7 fw-bold lh-1">Join our diverse community</h1>
              <p class="lead">The utilization of ZyloMileTech presents an unparalleled opportunity for researchers to attain a distinct competitive edge in their field, facilitating the expeditious and efficient achievement of groundbreaking discoveries. Moreover, our platform offers an optimal means of collaborative research, fostering the exchange of ideas and insights among researchers.
              </p>
              <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"><i class="bi bi-people"></i> Meet Researchers</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4"><i class="bi bi-files"></i> View Researches</button>
              </div>
            </div>
            <div class="col-lg-3 offset-lg-1 p-0 overflow-hidden shadow-lg">
                <img class="rounded-lg-3" src="https://en.hdbuzz.net/system/production/media/picture/735/redesign3point0_codev-2020-10-30-1c583a3029-learning-3245793_1920.jpg" alt="" width="720">
            </div>
          </div>
        </div>
  
  
  
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
  
    <div class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="../../assets/images/12.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style=" box-shadow:  0 0 10px  rgba(0,0,0,0.6);
          -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
          -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
          -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);">
        </div>
        <div class="col-lg-6">
          <h1 class="display-7 fw-bold lh-1 mb-3">Are you doing research ?</h1>
          <p class="lead">
            ZyloMileTech is an AI-powered platform that has been designed to help researchers conduct their research at a significantly faster pace than was previously possible. With its advanced AI algorithms and tools, ZyloMileTech enables researchers to streamline their workflows, automate many routine tasks, and make more efficient use of their time and resources. 
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2">Start Your Journey With Us.</button><br><br>
  
        
            <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
          </div>
        </div>
      </div>
    </div>
  
  
  </div>

  
  <div class="feat">
    <div class="container my-2">
      <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
  
        <div class="col-lg-6 offset-lg-1 p-0 overflow-hidden shadow-lg">
  <!--Start-->
  <app-category-carousel></app-category-carousel> 
  <!--End-->
        </div>
  
        <div class="col-lg-5 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-7 fw-bold lh-1 mb-3">Our Research Categories</h1>
          <p class="lead"> Our platform provides a multifaceted array of research fields, affording individuals the opportunity to contribute to and acquire a heightened level of expertise in their chosen domain.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 ">Find more research </button>
  
          </div>
        </div>
      </div>
    </div>
  
  
  
  </div>
  <br>