<app-navbar-comp></app-navbar-comp><br><br><br>
<!-- <app-carousel-comp></app-carousel-comp> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-carousel-comp></app-carousel-comp>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
            <div class="h-100 p-4 rounded-3" style="background-color: rgb(247, 247, 247);">
              <div class="row">
                <div class="col-md-6">
        
                  <div class="card card-cover h-200 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://media.istockphoto.com/id/1356759068/vector/deep-blue-abstract-background.jpg?s=612x612&w=0&k=20&c=dOSikVb0WfAKhptExVXkbJ8huH5Aq7I9rNg0Jvh1Bj4=');">
                    <div class="d-flex flex-column h-200 p-2 pb-3 text-white text-shadow-1">
                      <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                          <small>Earth</small>
                        </li>
                        <li class="d-flex align-items-center">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                          <small>3d</small>
                        </li>
                      </ul>
                    </div>
                  </div>
        
                </div>
        
        
                <div class="col-md-6">
        
                  <div class="card card-cover h-200 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');">
                    <div class="d-flex flex-column h-200 p-2 pb-3 text-white text-shadow-1">
                      <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                      <ul class="d-flex list-unstyled mt-auto">
                        <li class="me-auto">
                          <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                        </li>
                        <li class="d-flex align-items-center me-3">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                          <small>Earth</small>
                        </li>
                        <li class="d-flex align-items-center">
                          <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                          <small>3d</small>
                        </li>
                      </ul>
                    </div>
                  </div>
        
                </div>
        
              </div>
              <br>
              <h2>Change the background</h2>
              <p>By using ZyloMileTech, researchers can gain a competitive advantage and make breakthrough discoveries more quickly and effectively.</p>
              <button class="btn btn-outline-dark" type="button">Example button</button>
            </div>

        </div>

      </div>

      
    </div>
  </div>
</div>

<div class="container-fluid">

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="../assets/images/12.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy" style=" box-shadow:  0 0 10px  rgba(0,0,0,0.6);
        -moz-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
        -webkit-box-shadow: 0 0 20px  rgba(0,0,0,0.6);
        -o-box-shadow: 0 0 20px  rgba(0,0,0,0.6);">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Are you doing research ?</h1>
        <p class="lead">
          ZyloMileTech is an AI-powered platform that has been designed to help researchers conduct their research at a significantly faster pace than was previously possible. With its advanced AI algorithms and tools, ZyloMileTech enables researchers to streamline their workflows, automate many routine tasks, and make more efficient use of their time and resources. 
        </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2">Start Your Journey With Us.</button><br><br>

      
          <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
        </div>
      </div>
    </div>
  </div>


</div>


<div class="container-fluid">
  <div class="row">
    <app-footer-main></app-footer-main>
  </div>
</div>
<router-outlet></router-outlet>
